.dearmen
  {font-family: 'Cedarville Cursive', cursive;
  font-size: 1.5em;
  color: hotpink;}
.cali
  {font-family: 'Cedarville Cursive', cursive;
  font-size: 1.5em;
  color:hotpink;}
.letter
  {font-family: 'Quicksand', sans-serif;}
.do
  {color:hotpink;}
.dont
  {color:rgb(0, 208, 255);}
h1, h3
  {font-family: 'Tilt Warp', cursive;
  margin: 40px;}
h1
  {color:darkorange;}
p
  {margin: 40px;
    font-family: 'Quicksand', sans-serif;}
ul, li
  {font-family: 'Quicksand', sans-serif;}