/* ALL */

  :root
    {--lightblue: #a6cbec;
      --darkblue: #70ade2;
      --brown: #9b6546;}
  p
    {color: var(--brown);
      font-family: 'Quicksand', sans-serif;
      margin: 8px;}
  span
    {color: var(--brown);
      font-family: 'Quicksand', sans-serif;}
  body
    {background-color:#FFFFFF;}
  a
    {color: var(--brown);
      padding: 10px;
      font-family: 'Tilt Warp', cursive;}
  h1
    {color: var(--darkblue);
      font-family: 'Tilt Warp', cursive;
      width: 50%; margin: 0 auto; padding: 10px;
      text-align: center;
      /* TEMPORARY */
      background-color:antiquewhite; border-radius: 8px;}
  h2
    {color: var(--lightblue);
      font-family: 'Tilt Warp', cursive;}
  nav
    {background-color: var(--lightblue);
      color: var(--brown);
      padding: 10px;
      margin-bottom: 30px;
      font-family: 'Tilt Warp', cursive;}
  nav a:hover
    {background-color: #ffffff;
      font-family: 'Tilt Warp', cursive;
      color: var(--lightblue);}
  
/* HOME */
  
  li
    {color: var(--brown);
      font-family: 'Quicksand', sans-serif;}
  table
    {font-family: 'Quicksand', sans-serif;}
  hr
    {color:var(--lightblue);
      font-family:'Quicksand', sans-serif;}
  .quote
    {float: right;}
  .copyright
    {color:var(--brown);
      font-family: 'Quicksand', sans-serif;}
  div
    {color: var(--brown);
      font-family: 'Quicksand', sans-serif;}
  @media only screen and (min-width: 800px) {
    .banner {display: none; width: 100%;}
  }

/* SKILLS */
  
  .skills
    {justify-content: space-between;
      display:flex;
      margin: 8px;
      padding: 8px;
      /* TEMPORARY */
      border-style: dotted;}
  .flexbox1
    {justify-content: space-between;
      flex-basis: 75%;
      /* TEMPORARY */
      border-style: solid;
      border-color: red;}
  .skillsicons, .skillslabels
    {display: flex;
      justify-content: space-between;
      align-items: center;
      /* TEMPORARY */
      border-style: solid;
      border-color:aqua;}
  .skillstext
    {padding: 10px;
      margin-bottom: 10px;
      /* TEMPORARY */
      border-style: solid;
      border-color: yellow;}
  .flexbox2
    {display: flex;
      /* TEMPORARY */
      border-style: solid;
      border-color: green;}
  .otherskills
    {background-color:antiquewhite;
      padding: 8px;
      border-radius: 8px;}


/* RESUME */

  .resume
      {border: 8px solid var(--darkblue);
        width: 300px;
        padding: 8px;}

/* CONTACT */
  
  .contact1
    {background-color:antiquewhite;
      display: flex;
      justify-content: space-around;
      flex: 1; order: 1;
      }
  .contact2
    {background-color: var(--lightblue);
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      flex: 1; order: 2;}
  .right2, .left2 
    {flex: 1;}
  .right1, .left1, .right2, .left2
    {margin: 20px;}
  input, select, textarea
    {color:#9b6546;
      font-family: 'Quicksand', sans-serif;
      margin: 8px;
      border: 8px var(--darkblue);
      border-radius: 4px;}
  .jobtype, label
    {color:#9b6546;
      font-family: 'Tilt Warp', cursive;}
  input [type=text]
    {border:1px var(--lightblue);}
  /* TEMPORARY: */
  .right1
    {border-style: solid;
      border-color: green;}
  .right2 
    {border-style: solid;
      border-color: red;}
  .left1 
    {border-style: solid;
      border-color: yellow;}
  .left2 
    {border-style: solid;
      border-color: aqua;}
  